.home-container {
  padding: 20px;
  margin-left: 10px;
  font-size: 20px;
}

.home-container h1 {
  color: #000000;
  font-weight: 700;
  line-height: 64px;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.02em;
}

.home-container h5 {
  font-size: 24px;
  color: #7e7e7e;
  font-weight: 700;
  letter-spacing: 0.02em;
}
